@page "/see"
@inject DataService DataService
@using DialogueDeGestion.Models

<PageTitle>Vue des Dialogues</PageTitle>

<h1>Dialogues</h1>

<h3>Table DIALOGUE de la Base de données dialogue_gestion :</h3>

<Collapsible>
    <div class="row">
        @foreach (var column in columnVisibility.Keys)
        {
            <div class="col-md-2">
                <input type="checkbox" @bind="columnVisibility[column]" @bind:event="oninput" /> 
                @column<br />
            </div>
        }
    </div>
</Collapsible>

@if (dialogues == null || !columnVisibility.Any())
{
    <p><em>Loading...</em></p>
}
else if (!dialogues.Any())
{
    <p>No dialogue found.</p>
}
else
{
    <div class="scrollable-table">
        <table class="table">
            <thead>
                <tr>
                @foreach (var column in columnVisibility)
                {
                    if (column.Value)
                    {
                        <th>@column.Key</th>
                    }
                }
                </tr>
            </thead>
            <tbody>
                @foreach (var dialogue in dialogues)
                {
                    <tr>
                        @if (columnVisibility["Code"]) { <td>@dialogue.DCODE</td> }
                        @if (columnVisibility["Macro Designation"]) { <td>@dialogue.DGMACRODESIGNATION</td> }
                        @if (columnVisibility["Nature du Besoin"]) { <td>@dialogue.DGNATUREDUBESOIN</td> }
                        @if (columnVisibility["Cadre d'achat"]) { <td>@dialogue.DGCADREDACHAT</td> }
                        @if (columnVisibility["Fournisseur"]) { <td>@dialogue.DGFOURNISSEUR</td> }
                        @if (columnVisibility["N° tiers"]) { <td>@dialogue.DGNTIERS</td> }
                        @if (columnVisibility["Libellé du marché"]) { <td>@dialogue.DGLIBELLEDUMARCHE</td> }
                        @if (columnVisibility["Masse budgétaire"]) { <td>@dialogue.DGMASSEBUDGETAIRE</td> }
                        @if (columnVisibility["Demande d'achat"]) { <td>@dialogue.DGDA</td> }
                        @if (columnVisibility["Axe national 1"]) { <td>@dialogue.DGAXENATIONAL1</td> }
                        @if (columnVisibility["Grand projet"]) { <td>@dialogue.DGGRANDPROJET</td> }
                        @if (columnVisibility["Nom projet"]) { <td>@dialogue.DGNOMPROJET</td> }
                        @if (columnVisibility["Statut projet G2PI"]) { <td>@dialogue.DGSTATUTPROJETG2PI</td> }
                        @if (columnVisibility["Code initiative SDSI"]) { <td>@dialogue.DGCODEINITIATIVESDSI</td> }
                        @if (columnVisibility["Objet initiative"]) { <td>@dialogue.DGOBJECTINITIATIVE</td> }
                        @if (columnVisibility["Compte budgétaire"]) { <td>@dialogue.DGCOMPTESBUDGETAIRES</td> }
                        @if (columnVisibility["Compte comptable"]) { <td>@dialogue.DGCOMPTESCOMPTABLES</td> }
                        @if (columnVisibility["Portefeuille"]) { <td>@dialogue.DGPORTEFEUILLE</td> }
                        @if (columnVisibility["Sous portefeuille"]) { <td>@dialogue.DGSOUSPORTEFEUILLE</td> }
                        @if (columnVisibility["Caractéristique du besoin"]) { <td>@dialogue.DGCARACTERISTIQUEDUBESOIN</td> }
                        @if (columnVisibility["Criticité"]) { <td>@dialogue.DGCRITICITE</td> }
                        @if (columnVisibility["Budget initial demandé"]) { <td>@String.Format("{0:C}", dialogue.DGBUDGETINITIALDEMANDE)</td> }
                        @if (columnVisibility["Budget DG1 demandé"]) { <td>@String.Format("{0:C}", dialogue.DGBUDGETDG1DEMANDE)</td> }
                        @if (columnVisibility["Budget DG2 demandé"]) { <td>@String.Format("{0:C}", dialogue.DGBUDGETDG2DEMANDE)</td> }
                        @if (columnVisibility["Budget DG3 demandé"]) { <td>@String.Format("{0:C}", dialogue.DGBUDGETDG3DEMANDE)</td> }
                        @if (columnVisibility["Budget DG4 demandé"]) { <td>@String.Format("{0:C}", dialogue.DGBUDGETDG4DEMANDE)</td> }
                        @if (columnVisibility["Demande report identifié"]) { <td>@dialogue.DGDEMANDEDEREPORTIDENTIFIE</td> }
                        @if (columnVisibility["Plan budg BI janvier"]) { <td>@String.Format("{0:C}", dialogue.DGPLANBUDGBIJANVIER)</td> }
                        @if (columnVisibility["Plan budg BR1 juillet"]) { <td>@String.Format("{0:C}", dialogue.DGPLANBUDGBR1JUILLET)</td> }
                        @if (columnVisibility["Plan budg BR2 novembre"]) { <td>@String.Format("{0:C}", dialogue.DGPLANBUDGBR2NOVEMBRE)</td> }
                        @if (columnVisibility["Numéro AB"]) { <td>@dialogue.DGNUMEROAB</td> }
                        @if (columnVisibility["Numéro DB"]) { <td>@dialogue.DGNUMERODB</td> }
                        @if (columnVisibility["BI autorisé"]) { <td>@String.Format("{0:C}", dialogue.DGBIAUTORISE)</td> }
                        @if (columnVisibility["BR1 autorisé"]) { <td>@String.Format("{0:C}", dialogue.DGBR1AUTORISE)</td> }
                        @if (columnVisibility["BR2 autorisé"]) { <td>@String.Format("{0:C}", dialogue.DGBR2AUTORISE)</td> }
                        @if (columnVisibility["N° commande"]) { <td>@dialogue.DGNCOMMANDE</td> }
                        @if (columnVisibility["Date de Début"]) { <td>@dialogue.DGDATEDEDEBUT.ToShortDateString()</td> }
                        @if (columnVisibility["Date de Fin"]) { <td>@dialogue.DGDATEDEFIN.ToShortDateString()</td> }
                        @if (columnVisibility["Montant Commandé"]) { <td>@String.Format("{0:C}", dialogue.DGMONTANTCOMMANDE)</td> }
                        @if (columnVisibility["N° engagement"]) { <td>@dialogue.DGNENGAGEMENT</td> }
                        @if (columnVisibility["Montant engagé"]) { <td>@dialogue.DGMONTANTENGAGE</td> }
                        @if (columnVisibility["Réalisé"]) { <td>@dialogue.DGREALISE</td> }
                        @if (columnVisibility["GA486 année N+1"]) { <td>@dialogue.DGGA486ANNEEN1</td> }
                        @if (columnVisibility["GA486 année N+2"]) { <td>@dialogue.DGGA486ANNEEN2</td> }
                        @if (columnVisibility["GA486 année N+3"]) { <td>@dialogue.DGGA486ANNEEN3</td> }
                        @if (columnVisibility["GA486 année N+4"]) { <td>@dialogue.DGGA486ANNEEN4</td> }
                        @if (columnVisibility["Budg prev N+1"]) { <td>@dialogue.DGBUDGPREVN1</td> }
                        @if (columnVisibility["Budg prev N+2"]) { <td>@dialogue.DGBUDGPREVN2</td> }
                        @if (columnVisibility["Budg prev N+3"]) { <td>@dialogue.DGBUDGPREVN3</td> }
                        @if (columnVisibility["Budg prev N+4"]) { <td>@dialogue.DGBUDGPREVN4</td> }
                        @if (columnVisibility["Commentaires"]) { <td>@dialogue.DGCOMMENTAIRES</td> }
                        @if (columnVisibility["Année"]) { <td>@dialogue.DGANNEE</td> }
                        @if (columnVisibility["Série de données"]) { <td>@dialogue.DGSERIEDEDONNEES</td> }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Dialogue> dialogues;
    private Dictionary<string, bool> columnVisibility = new Dictionary<string, bool>
    {
        { "Code", false },
        { "Macro Designation", false },
        { "Nature du Besoin", false },
        { "Cadre d'achat", false },
        { "Fournisseur", false },
        { "N° tiers", false },
        { "Libellé du marché", false },
        { "Masse budgétaire", false },
        { "Demande d'achat", false },
        { "Axe national 1", false },
        { "Grand projet", false },
        { "Nom projet", false },
        { "Statut projet G2PI", false },
        { "Code initiative SDSI", false },
        { "Objet initiative", false },
        { "Compte budgétaire", false },
        { "Compte comptable", false },
        { "Portefeuille", false },
        { "Sous portefeuille", false },
        { "Caractéristique du besoin", false },
        { "Criticité", false },
        { "Budget initial demandé", false },
        { "Budget DG1 demandé", false },
        { "Budget DG2 demandé", false },
        { "Budget DG3 demandé", false },
        { "Budget DG4 demandé", false },
        { "Demande report identifié", false },
        { "Plan budg BI janvier", false },
        { "Plan budg BR1 juillet", false },
        { "Plan budg BR2 novembre", false },
        { "Numéro AB", false },
        { "Numéro DB", false },
        { "BI autorisé", false },
        { "BR1 autorisé", false },
        { "BR2 autorisé", false },
        { "N° commande", false },
        { "Date de Début", false },
        { "Date de Fin", false },
        { "Montant Commandé", false },
        { "N° engagement", false },
        { "Montant engagé", false },
        { "Réalisé", false },
        { "GA486 année N+1", false },
        { "GA486 année N+2", false },
        { "GA486 année N+3", false },
        { "GA486 année N+4", false },
        { "Budg prev N+1", false },
        { "Budg prev N+2", false },
        { "Budg prev N+3", false },
        { "Budg prev N+4", false },
        { "Commentaires", false },
        { "Année", false },
        { "Série de données", false }
    };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dialogues = await DataService.GetAllDialoguesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
}
