@page "/select"
@inject DataService DataService
@using DialogueDeGestion.Models
@inject IJSRuntime JS

<PageTitle>Vue des Dialogues</PageTitle>

<h1>Dialogues</h1>

<div class="inline-header">
    <h3>Table DIALOGUE de la Base de données dialogue_gestion :</h3>
    <button @onclick="ExportToExcel" class="btn btn-primary">Export to Excel</button>
</div>

<label for="filter">Filtrer par série de données :</label>
<input @bind="filterText" @bind:event="oninput" id="filter" class="form-control" placeholder="Entrez une série de données" />

@if (dialogues == null)
{
    <p><em>Loading...</em></p>
}
else if (!dialogues.Any())
{
    <p>No dialogue found.</p>
}
else
{
    <div class="scrollable-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Macro Designation</th>
                    <th>Nature du Besoin</th>
                    <th>Cadre d'achat</th>
                    <th>Founisseur</th>
                    <th>N° tiers</th>
                    <th>Libellé du marché</th>
                    <th>Masse budgétaire</th>
                    <th>Demande d'achat</th>
                    <th>Axe national 1</th>
                    <th>Grand projet</th>
                    <th>Nom projet</th>
                    <th>Statut projet G2PI</th>
                    <th>Code initiative SDSI</th>
                    <th>Objet initiative</th>
                    <th>Compte budgétaire</th>
                    <th>Compte comptable</th>
                    <th>Portefeuille</th>
                    <th>Sous portefeuille</th>
                    <th>Caractéristique du besoin</th>
                    <th>Criticité</th>
                    <th>Budget initial demandé</th>
                    <th>Budget DG1 demandé</th>
                    <th>Budget DG2 demandé</th>
                    <th>Budget DG3 demandé</th>
                    <th>Budget DG4 demandé</th>
                    <th>Demande report identifié</th>
                    <th>Plan budg BI janvier</th>
                    <th>Plan budg BR1 juillet</th>
                    <th>Plan budg BR2 novembre</th>
                    <th>Numéro AB</th>
                    <th>Numéro DB</th>
                    <th>BI autorisé</th>
                    <th>BR1 autorisé</th>
                    <th>BR2 autorisé</th>
                    <th>N° commande</th>
                    <th>Date de Début</th>
                    <th>Date de Fin</th>
                    <th>Montant Commandé</th>
                    <th>N° engagement</th>
                    <th>Montant engagé</th>
                    <th>Réalisé</th>
                    <th>GA486 année N+1</th>
                    <th>GA486 année N+2</th>
                    <th>GA486 année N+3</th>
                    <th>GA486 année N+4</th>
                    <th>Budg prev N+1</th>
                    <th>Budg prev N+2</th>
                    <th>Budg prev N+3</th>
                    <th>Budg prev N+4</th>
                    <th>Commentaires</th>
                    <th>Année</th>
                    <th>Série de données</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dialogue in FilteredDialogues)
                {
                    <tr>
                        <td>@dialogue.DCODE</td>
                        <td>@dialogue.DGMACRODESIGNATION</td>
                        <td>@dialogue.DGNATUREDUBESOIN</td>
                        <td>@dialogue.DGCADREDACHAT</td>
                        <td>@dialogue.DGFOURNISSEUR</td>
                        <td>@dialogue.DGNTIERS</td>
                        <td>@dialogue.DGLIBELLEDUMARCHE</td>
                        <td>@dialogue.DGMASSEBUDGETAIRE</td>
                        <td>@dialogue.DGDA</td>
                        <td>@dialogue.DGAXENATIONAL1</td>
                        <td>@dialogue.DGGRANDPROJET</td>
                        <td>@dialogue.DGNOMPROJET</td>
                        <td>@dialogue.DGSTATUTPROJETG2PI</td>
                        <td>@dialogue.DGCODEINITIATIVESDSI</td>
                        <td>@dialogue.DGOBJECTINITIATIVE</td>
                        <td>@dialogue.DGCOMPTESBUDGETAIRES</td>
                        <td>@dialogue.DGCOMPTESCOMPTABLES</td>
                        <td>@dialogue.DGPORTEFEUILLE</td>
                        <td>@dialogue.DGSOUSPORTEFEUILLE</td>
                        <td>@dialogue.DGCARACTERISTIQUEDUBESOIN</td>
                        <td>@dialogue.DGCRITICITE</td>
                        <td>@dialogue.DGBUDGETINITIALDEMANDE</td>
                        <td>@dialogue.DGBUDGETDG1DEMANDE</td>
                        <td>@dialogue.DGBUDGETDG2DEMANDE</td>
                        <td>@dialogue.DGBUDGETDG3DEMANDE</td>
                        <td>@dialogue.DGBUDGETDG4DEMANDE</td>
                        <td>@dialogue.DGDEMANDEDEREPORTIDENTIFIE</td>
                        <td>@dialogue.DGPLANBUDGBIJANVIER</td>
                        <td>@dialogue.DGPLANBUDGBR1JUILLET</td>
                        <td>@dialogue.DGPLANBUDGBR2NOVEMBRE</td>
                        <td>@dialogue.DGNUMEROAB</td>
                        <td>@dialogue.DGNUMERODB</td>
                        <td>@dialogue.DGBIAUTORISE</td>
                        <td>@dialogue.DGBR1AUTORISE</td>
                        <td>@dialogue.DGBR2AUTORISE</td>
                        <td>@dialogue.DGNCOMMANDE</td>
                        <td>@dialogue.DGDATEDEDEBUT.ToShortDateString()</td>
                        <td>@dialogue.DGDATEDEFIN.ToShortDateString()</td>
                        <td>@String.Format("{0:C}", dialogue.DGMONTANTCOMMANDE)</td>
                        <td>@dialogue.DGNENGAGEMENT</td>
                        <td>@dialogue.DGMONTANTENGAGE</td>
                        <td>@dialogue.DGREALISE</td>
                        <td>@dialogue.DGGA486ANNEEN1</td>
                        <td>@dialogue.DGGA486ANNEEN2</td>
                        <td>@dialogue.DGGA486ANNEEN3</td>
                        <td>@dialogue.DGGA486ANNEEN4</td>
                        <td>@dialogue.DGBUDGPREVN1</td>
                        <td>@dialogue.DGBUDGPREVN2</td>
                        <td>@dialogue.DGBUDGPREVN3</td>
                        <td>@dialogue.DGBUDGPREVN4</td>
                        <td>@dialogue.DGCOMMENTAIRES</td>
                        <td>@dialogue.DGANNEE</td>
                        <td>@dialogue.DGSERIEDEDONNEES</td>
                    </tr>
                }
            </tbody>
        </table>
     </div>   
}


@code {
    private List<Dialogue> dialogues;
    private List<Dialogue> FilteredDialogues => dialogues?.Where(d => FilterDialogue(d)).ToList() ?? new List<Dialogue>();
    private string filterText = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dialogues = await DataService.GetAllDialoguesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
    private bool FilterDialogue(Dialogue dialogue)
    {
        return string.IsNullOrEmpty(filterText) || dialogue.DGSERIEDEDONNEES.Contains(filterText, StringComparison.OrdinalIgnoreCase);
    }

    private async Task ExportToExcel()
    {
        using var workbook = new ClosedXML.Excel.XLWorkbook();
        var worksheet = workbook.Worksheets.Add("Dialogues");

        // Add Headers
        worksheet.Cell(1, 1).Value = "Code";
        worksheet.Cell(1, 2).Value = "Macro Designation";
        worksheet.Cell(1, 3).Value = "Nature du Besoin";
        worksheet.Cell(1, 4).Value = "Cadre d'achat";
        worksheet.Cell(1, 5).Value = "Fournisseur";
        worksheet.Cell(1, 6).Value = "N° tiers";
        worksheet.Cell(1, 7).Value = "Libellé du marché";
        worksheet.Cell(1, 8).Value = "Masse budgétaire";
        worksheet.Cell(1, 9).Value = "Demande d'achat";
        worksheet.Cell(1, 10).Value = "Axe national 1";
        worksheet.Cell(1, 11).Value = "Grand projet";
        worksheet.Cell(1, 12).Value = "Nom projet";
        worksheet.Cell(1, 13).Value = "Statut projet G2PI";
        worksheet.Cell(1, 14).Value = "Code initiative SDSI";
        worksheet.Cell(1, 15).Value = "Objet initiative";
        worksheet.Cell(1, 16).Value = "Compte budgétaire";
        worksheet.Cell(1, 17).Value = "Compte comptable";
        worksheet.Cell(1, 18).Value = "Portefeuille";
        worksheet.Cell(1, 19).Value = "Sous portefeuille";
        worksheet.Cell(1, 20).Value = "Caractéristique du besoin";
        worksheet.Cell(1, 21).Value = "Criticité";
        worksheet.Cell(1, 22).Value = "Budget initial demandé";
        worksheet.Cell(1, 23).Value = "Budget DG1 demandé";
        worksheet.Cell(1, 24).Value = "Budget DG2 demandé";
        worksheet.Cell(1, 25).Value = "Budget DG3 demandé";
        worksheet.Cell(1, 26).Value = "Budget DG4 demandé";
        worksheet.Cell(1, 27).Value = "Demande report identifié";
        worksheet.Cell(1, 28).Value = "Plan budg BI janvier";
        worksheet.Cell(1, 29).Value = "Plan budg BR1 juillet";
        worksheet.Cell(1, 30).Value = "Plan budg BR2 novembre";
        worksheet.Cell(1, 31).Value = "Numéro AB";
        worksheet.Cell(1, 32).Value = "Numéro DB";
        worksheet.Cell(1, 33).Value = "BI autorisé";
        worksheet.Cell(1, 34).Value = "BR1 autorisé";
        worksheet.Cell(1, 35).Value = "BR2 autorisé";
        worksheet.Cell(1, 36).Value = "N° commande";
        worksheet.Cell(1, 37).Value = "Date de Début";
        worksheet.Cell(1, 38).Value = "Date de Fin";
        worksheet.Cell(1, 39).Value = "Montant Commandé";
        worksheet.Cell(1, 40).Value = "N° engagement";
        worksheet.Cell(1, 41).Value = "Montant engagé";
        worksheet.Cell(1, 42).Value = "Réalisé";
        worksheet.Cell(1, 43).Value = "GA486 année N+1";
        worksheet.Cell(1, 44).Value = "GA486 année N+2";
        worksheet.Cell(1, 45).Value = "GA486 année N+3";
        worksheet.Cell(1, 46).Value = "GA486 année N+4";
        worksheet.Cell(1, 47).Value = "Budg prev N+1";
        worksheet.Cell(1, 48).Value = "Budg prev N+2";
        worksheet.Cell(1, 49).Value = "Budg prev N+3";
        worksheet.Cell(1, 50).Value = "Budg prev N+4";
        worksheet.Cell(1, 51).Value = "Commentaires";
        worksheet.Cell(1, 52).Value = "Année";
        worksheet.Cell(1, 53).Value = "Série de données";

        // Add Data
        for (int i = 0; i < FilteredDialogues.Count; i++)
        {
            var dialogue = FilteredDialogues[i];
            worksheet.Cell(i + 2, 1).Value = dialogue.DCODE;
            worksheet.Cell(i + 2, 2).Value = dialogue.DGMACRODESIGNATION;
            worksheet.Cell(i + 2, 3).Value = dialogue.DGNATUREDUBESOIN;
            worksheet.Cell(i + 2, 4).Value = dialogue.DGCADREDACHAT;
            worksheet.Cell(i + 2, 5).Value = dialogue.DGFOURNISSEUR;
            worksheet.Cell(i + 2, 6).Value = dialogue.DGNTIERS;
            worksheet.Cell(i + 2, 7).Value = dialogue.DGLIBELLEDUMARCHE;
            worksheet.Cell(i + 2, 8).Value = dialogue.DGMASSEBUDGETAIRE;
            worksheet.Cell(i + 2, 9).Value = dialogue.DGDA;
            worksheet.Cell(i + 2, 10).Value = dialogue.DGAXENATIONAL1;
            worksheet.Cell(i + 2, 11).Value = dialogue.DGGRANDPROJET;
            worksheet.Cell(i + 2, 12).Value = dialogue.DGNOMPROJET;
            worksheet.Cell(i + 2, 13).Value = dialogue.DGSTATUTPROJETG2PI;
            worksheet.Cell(i + 2, 14).Value = dialogue.DGCODEINITIATIVESDSI;
            worksheet.Cell(i + 2, 15).Value = dialogue.DGOBJECTINITIATIVE;
            worksheet.Cell(i + 2, 16).Value = dialogue.DGCOMPTESBUDGETAIRES;
            worksheet.Cell(i + 2, 17).Value = dialogue.DGCOMPTESCOMPTABLES;
            worksheet.Cell(i + 2, 18).Value = dialogue.DGPORTEFEUILLE;
            worksheet.Cell(i + 2, 19).Value = dialogue.DGSOUSPORTEFEUILLE;
            worksheet.Cell(i + 2, 20).Value = dialogue.DGCARACTERISTIQUEDUBESOIN;
            worksheet.Cell(i + 2, 21).Value = dialogue.DGCRITICITE;
            worksheet.Cell(i + 2, 22).Value = dialogue.DGBUDGETINITIALDEMANDE;
            worksheet.Cell(i + 2, 23).Value = dialogue.DGBUDGETDG1DEMANDE;
            worksheet.Cell(i + 2, 24).Value = dialogue.DGBUDGETDG2DEMANDE;
            worksheet.Cell(i + 2, 25).Value = dialogue.DGBUDGETDG3DEMANDE;
            worksheet.Cell(i + 2, 26).Value = dialogue.DGBUDGETDG4DEMANDE;
            worksheet.Cell(i + 2, 27).Value = dialogue.DGDEMANDEDEREPORTIDENTIFIE;
            worksheet.Cell(i + 2, 28).Value = dialogue.DGPLANBUDGBIJANVIER;
            worksheet.Cell(i + 2, 29).Value = dialogue.DGPLANBUDGBR1JUILLET;
            worksheet.Cell(i + 2, 30).Value = dialogue.DGPLANBUDGBR2NOVEMBRE;
            worksheet.Cell(i + 2, 31).Value = dialogue.DGNUMEROAB;
            worksheet.Cell(i + 2, 32).Value = dialogue.DGNUMERODB;
            worksheet.Cell(i + 2, 33).Value = dialogue.DGBIAUTORISE;
            worksheet.Cell(i + 2, 34).Value = dialogue.DGBR1AUTORISE;
            worksheet.Cell(i + 2, 35).Value = dialogue.DGBR2AUTORISE;
            worksheet.Cell(i + 2, 36).Value = dialogue.DGNCOMMANDE;
            worksheet.Cell(i + 2, 37).Value = dialogue.DGDATEDEDEBUT.ToShortDateString();
            worksheet.Cell(i + 2, 38).Value = dialogue.DGDATEDEFIN.ToShortDateString();
            worksheet.Cell(i + 2, 39).Value = dialogue.DGMONTANTCOMMANDE;
            worksheet.Cell(i + 2, 40).Value = dialogue.DGNENGAGEMENT;
            worksheet.Cell(i + 2, 41).Value = dialogue.DGMONTANTENGAGE;
            worksheet.Cell(i + 2, 42).Value = dialogue.DGREALISE;
            worksheet.Cell(i + 2, 43).Value = dialogue.DGGA486ANNEEN1;
            worksheet.Cell(i + 2, 44).Value = dialogue.DGGA486ANNEEN2;
            worksheet.Cell(i + 2, 45).Value = dialogue.DGGA486ANNEEN3;
            worksheet.Cell(i + 2, 46).Value = dialogue.DGGA486ANNEEN4;
            worksheet.Cell(i + 2, 47).Value = dialogue.DGBUDGPREVN1;
            worksheet.Cell(i + 2, 48).Value = dialogue.DGBUDGPREVN2;
            worksheet.Cell(i + 2, 49).Value = dialogue.DGBUDGPREVN3;
            worksheet.Cell(i + 2, 50).Value = dialogue.DGBUDGPREVN4;
            worksheet.Cell(i + 2, 51).Value = dialogue.DGCOMMENTAIRES;
            worksheet.Cell(i + 2, 52).Value = dialogue.DGANNEE;
            worksheet.Cell(i + 2, 53).Value = dialogue.DGSERIEDEDONNEES;
        }

        using var stream = new MemoryStream();
        workbook.SaveAs(stream);
        var content = stream.ToArray();

        await JS.InvokeVoidAsync("BlazorDownloadFile", "dialogues.xlsx", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", content);
    }
}
